{{> messages }}
{{#if username}}
<h2>{{ username }}'s profile</h2>
<table class="table">
  <tr>
    <td>User Name:</td>
    <td>{{ UserName }}</td>
  </tr>
  <tr>
    <td>Phone no:</td>
    <td>{{ quantity}}</td>
  </tr>
  <tr>
    <td>Store address:</td>
    <td>{{ Storeaddress }}</td>
  </tr>
  <tr>
    <td>Store category:</td>
    <td>{{ Storecategory }}</td>
  </tr>
</table>
{{/if}}